body {
  font-family: 'Georgia', serif;
  background-color: #f2e9cb;
  color: #657b83;
}

h1 {
 
  font-family: 'Georgia', serif;
  color: #0e0e0e;
  border: #0d0303;
}

form {
  position: relative;
  #background-color: #c41a1a;
  padding-top: 30px;
  padding-left: 100px;
  max-width: 400px;
  margin-bottom: 0px;
  color: #93a1a1;


}

label {
  display: block;
  color: #000;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #cb4b16;
  
  color: #fff;
  border: none;
}

button:hover {
  background-color: #e3d7d7;
  border: 2px solid #93a1a1;
  color:#0d0303;
}
